AMO
**/*/.idea/
JAVA/**/out/*
Python/**/.idea
**/__pycache__/
quizHub
COURSE_WORK/
/Spring/
/git test/
C++
DictionarySpringApp
KPINodeJS
node-js_project
AI_with_Images/
!AI_with_Images/**/*.py
!CA-3_CourseWork/CourseWork/**/*.cpp
GameProgLabs/
PAEV/
kpi-labs.code-workspace
SysSoftwareCourseWork/
dotNet_Labs/
SysSoftwareCW/
IVS/
PZKS/