# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\IT tricks and magic of the programming\KPI_Labs\Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
